################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineBookStoreSystem/v15/Server/sqlite3
/BookStoreWebServiceTests/obj/Debug/netcoreapp2.1
/BookStoreLibrary/obj/Debug/netcoreapp2.1
