body {
    font-family: "Lato", sans-serif
}

.subcat-menu {
    left: 47% !important;
    width: 100%;
    display: none;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.catmenu:hover .subcat-menu {
    display: block
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
