* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ptsans,sans-serif;
    font-size: 1em;
}
#user-icon {
    

}

.header {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding:5px 0;
}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
h1{
    margin:0;
    padding:0;
}
.heading {
    font-size: 1.5em;
    color: #2b6cc4;
    font-weight: bold;
    font-family: 'Baskerville Old Face','Libre Baskerville',sans-serif;
    line-height:40px;
}
.buttonuser {
    border-width: 0px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-position: center;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-color: #b5d676;
    padding: 0;
    border-radius: 25px;
    margin-right: 0;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    transition: .3s;
    border-color: #b5d676;
}
.btn-search{
    width:100%;
}
body#LoginForm {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
}

.form-heading {
    color: #fff;
    font-size: 23px;
}

.panel h2 {
    color: #444444;
    font-size: 18px;
    margin: 0 0 8px 0;
}

.panel p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

.login-form .form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.main-div {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 10px;
    margin: 10px auto 30px;
    max-width: 70%;
    padding: 50px 70px 70px 71px;
}

.main-div1 {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 10px;
    margin: 10px auto 30px;
    max-width: 100%;
    padding: 50px 70px 70px 71px;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.login-form .btn.btn-primary {
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
    font-size: 14px;
    width: 80px;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.forgot {
    text-align: left;
    margin-bottom: 30px;
}

.botto-text {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
}

.login-form .btn.btn-primary.reset {
    background: #ff9900 none repeat scroll 0 0;
}

.back {
    text-align: left;
    margin-top: 10px;
}

    .back a {
        color: #444444;
        font-size: 13px;
        text-decoration: none;
    }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}



a {
    text-decoration: none;
    /*font-size: 22px;*/
    color: black;
}

    button:hover, a:hover {
        opacity: 0.7;
    }

body {
    font-family: "Lato", sans-serif
}

.subcat-menu {
    left: 47% !important;
    width: 100%;
    display: none;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.catmenu:hover .subcat-menu {
    display: block
}

body {
    font-family: "Lato", sans-serif
}

.subcat-menu {
    left: 47% !important;
    width: 100%;
    display: none;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.catmenu:hover .subcat-menu {
    display: block
}

.container1 {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}