@{
    ViewData["Title"] = "About";
}
<style>


    body {
        height: 100%;
        width: 100%;
        background-image: url("https://images.unsplash.com/photo-1468779036391-52341f60b55d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5506fe978d3b1011855612168fd0faca&auto=format&fit=crop&w=500&q=60");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<h2>About Us</h2>
<div class="container col-sm-6">
    <p>
        <pre>

        BOOK/SHOP is a design-minded, multi-disciplinary brand offering objects, events, and experiences related to books and reading.  We are based in the San Francisco Bay Area and New York City.
        <h6>OUR PHILOSOPHY</h6> 
    Some people like to read on a screen. Other people need the variety and artistry, the sight, smell, and feel of actual books.They love seeing them on their shelves; they love having shelves for them.
    They love taking them along when they leave the house, and stacking them by their bedsides. They love finding old letters and bookmarks in them. They like remembering where they bought them or who they received them from.
    They want to read in a way that offers a rich experience, more than the words only: the full offering of a book. They are particular about covers, they want to surround themselves with the poetry of good design.
    They can't pass a bookstore without going in and getting something, they keep a library card and use it.
    They are allergic to cheap bestsellers; they delight in the out-of-the-way and the rare, the well-made and the hard-to-accomplish. They take care of their books; they  know a book is only theirs until it passes on to someone else. They are good stewards of a timeless object.
    These are the people we're working for.
</pre>

    </p>
</div>

