@{
    ViewData["Title"] = "Contact Us";
}



<img src="https://cdn.searchenginejournal.com/wp-content/uploads/2018/10/25-Inspiring-Contact-Us-Pages-760x400.png" />
<br />
<br />


<address style="color:whitesmoke">
    <h5 > Book Store</h5>
    <strong>Contact Us</strong>: 8871223332<br>
    <strong>Phone</strong>: 07393-939398
</address>

<address style="color:whitesmoke">
    <strong>Mailing Address:</strong> <a href="mailto:Support@example.com">BookStore.com</a><br />

</address>
