@model IList<BookStoreWebService.Models.BookDB.Book>
@{
    ViewData["Title"] = "GetBooks";
    var book = ViewBag.AllBooks;
    Layout = "~/ Views / Shared / LayoutLayout.cshtml";
}

<div class="container">
        <div>
            <div class="row text-center text-lg-left">
                @foreach (var obj in Model)
                {

                <div class="card card-body text-center border-secondary" style="align-items:center;width: 12rem;margin:10px; padding: 1px 1px 1px 1px;display: table;clear: both;">
                    <img class="card-img-top" src="@obj.Image" alt="Card image cap" style="margin:5px;width: 100px;height: 150px;">
                    <h6>@obj.BookTitle</h6>
                    <h6>@obj.Price</h6>
                    <div class="d-flex justify-content-between align-items-center" style="margin:10px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-group">EDIT</button>
                       </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-group">DELETE</button>
                        </div>
                    </div>
                </div>


                }
            </div>

        </div>
</div>

