@using BookStoreWebService.Models.BookDB
@model Customer
@{
    ViewData["Title"] = "Register";
}





    <div class="container w3-container w3-center w3-animate-top" style="width:800px">
        <h1 class="form-heading" style="text-align:center">Registration Form</h1>
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Sign Up</h2>
                    <p>Please enter your details</p>
                </div>
                <form asp-action="Register" asp-controller="Home" method="post" role="form">
                    <div class="form-group row">
                        <label asp-for="CustomerName" class="col-md-4 col-form-label text-md-right">Full Name</label>
                        <div class="col-md-6">
                            <input asp-for="CustomerName" type="text" pattern="[A-Za-z\s]+" maxlength="30" class="form-control" id="cust-name" placeholder=" Enter Your Name" required>
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-md-4 col-form-label text-md-right">Email Id</label>
                        <div class="col-md-6">
                            <input asp-for="Email" type="text" maxlength="30" class="form-control" id="cust-name" placeholder=" Enter Your Name" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="MobileNumber" class="col-md-4 col-form-label text-md-right">Mobile No.</label>
                        <div class="col-md-6">
                            <input asp-for="MobileNumber" type="text" pattern="[0-9]{10}" maxlength="30" class="form-control" id="cust-name" placeholder=" Enter Your Mobile no." required>
                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Address" class="col-md-4 col-form-label text-md-right">Address</label>
                        <div class="col-md-6">
                            <input asp-for="Address" type="text" pattern="[A-Za-z0-9]+" maxlength="30" class="form-control" id="cust-name" placeholder=" Enter Your Address" required>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Password" class="col-md-4 col-form-label text-md-right">Password</label>
                        <div class="col-md-6">
                            <input id="pwd" asp-for="Password" type="text" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="30" class="form-control" id="cust-name" placeholder=" Enter Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="pwd" class="col-md-4 col-form-label text-md-right"> Re-enterPassword:</label>
                        <div class="col-md-6">
                            <input id="pwdconfirm" asp-for="Password" type="text" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" maxlength="30" class="form-control" id="cust-name" placeholder=" Re-Enter Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $('#btnSubmit').click(function(e){
    
    var pwd=$('#pwd').val();
    var pwdconfirm=$('#pwdconfirm').val();

        if (pwd != pwdconfirm) {
            alert('not matched');
            e.preventDefault();
        }
    
    });
</script>



