@model BookStoreApplication.Controllers.OrderController;
@using BookStoreWebService.Models.BookDB;
@using BookStoreLibrary;
@{
    var Customer = (List<Customer>)ViewData["Customer"];
    ViewData["Title"] = "UserProfile";
   
}
@{
    Layout = "~/Views/Shared/LogoutLayout.cshtml";
}}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
</head>
<body>
</body>
</html>
