

@model IList<BookStoreWebService.Models.BookDB.Book>
@{
    ViewData["Title"] = "AllBookById";
   
}
<div class="container">
    <div class="w3-black" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
            
            <h2 class="w3-opacity w3-center"><i>The World belongs to those who read.</i></h2><br>
            <div class="container">


                <div class="col-md-12">
                    <div class="row text-center text-lg-left">
                        <div style="margin:0 -16px;padding:10px">
                            @foreach (var obj in Model)
                            {

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <img src="@obj.Image" alt="New York" style="width:180px;height:260px" class="w3-hover-opacity">
                                    <div class="w3-white" style="width:180px;" >
                                        <p><b>@obj.BookTitle</b></p>
                                        <p>Rs. @obj.Price</p>
                                        @*<button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Buy Tickets</button>*@
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

